 body{
     
     text-align: center;
     width: 1000px;
 }
 
 h1 {
     color: white;
     background-color: rgb(153, 51, 47);
     text-align: center;
     
 }
  
 #img{
     
    text-align: center;
 }
 
 
 #car {
     border: 3px dashed black;
     
 }
 div{
     text-align: center;
 }
 p{
     text-align: justify;
     font-size: 18px;
 }

 .footer {
     text-align: center;
     background-color: black;
     color: white;
     font-size: 20px;
 }
 span{
     color: blue;
     font-weight: bold;
 }