body{
    width: 100%;
    background-color: orange;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex-conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    align-items: center;
   
}
.flex-item{
    margin: 20px;
    background-color: white;
}
h2,p{
    text-align: center;
    font-weight: normal;
}
.flex-item-gold {
    height: 500px;
    background-color: white;
}
.flex-item-gold img {
    margin-top: 50px;
}